body{
  background: #efefef;
  margin: 0;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
a{
  color: inherit;
  text-decoration: none;
}
dl,dd,dt{
  margin: 0;
  padding: 0;
}
ol,ul,li{
  list-style: none;
}
.topNavBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.topNavBar .topNavBarInner{
  padding: 0 16px;
}

.topNavBar a.logo{
  float: left;
}
.topNavBar nav{
  float: right;
}
/* .topNavBar >nav >ul{
  border: 1px solid red;

} */
.topNavBar nav >ul >li{
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}
.topNavBar nav >ul >li > a{
  font-size: 12px;
  color: #b7b7b7;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block; 
}
.topNavBar nav >ul >li > a:hover{
  border-bottom: 3px solid #e06567;
}
.topNavBar .logo{
  font-size: 24px;
  font-family: 'Arial Black';
  padding-top: 13px;
}
.topNavBar .logo .rs{
  margin-right: 4px;
  color: #e6686a;
}
.topNavBar .logo .card{
  color: #9a9da2;
}
.banner{
  height: 515px;
  background-image: url(../img/rs-cover.jpg);
  background-position: center center;
}
.banner .mask{
  height: 515px;
  background-color: rgba(0, 0, 0, 0.8);
}

main .userCard{
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  background-color:#FFFFFF; 
}
.userCard .pictureAndText{
  padding: 50px;
}
.userCard .pictureAndText .text{
  margin-left: 65px;
}
.userCard .welcome{
  background: #e6686a;
  color: white;
  display: inline-block;
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
}
.userCard .welcome .triangle{
  position: absolute;
  border:10px solid transparent;
  width: 0px;
  border-top-width:10px;
  border-left-width: 0px;
  border-top-color: #e6686a;
  border-bottom-color:transparent; 
  top: 100%;
  left: 4px;
}
.userCard .text{
  width: 470px;
}
.userCard .text hr{
  margin: 20px 0;
  border-top: 1px solid #b7b7b7;
}


.userCard dl dd,
.userCard dl dt{
  font-size: 16px;
  float: left;
  line-height:25px;
  padding: 5px 0;
}
.userCard dl dd{ 
  width: 60%;
  color: #b7b7b7;
}
.userCard dl dt{  
  width: 30%;
}
footer.media{
  background: #e6686a;
  text-align: center;
}



footer.media a{
  display: inline-block;
  width: 40px;
  border-radius:50%;
  /* background: #CF5D5F; */
  line-height: 30px;
  padding: 5px 0;
  margin: 16px;

}
footer.media a:hover{
  background: #CF5D5F;
}
footer.media svg{
  width: 30px;
  height: 30px;
  fill: white;
  vertical-align: top;
}